.loader {
    animation: spin 1s linear infinite;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efefef !important;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}