.backdrop-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(4px);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

@media screen and (max-width: 768px) {
    .buttons-container {
        grid-template-columns: 1fr;
    }
}

.as-clear-btn {
    width: 200px !important;
}

.bottom-left-container {
    position: absolute;
    left: 16px;
    bottom: 16px;
    display: flex;
    gap: 12px;

    &>div {
        width: min-content;
    }
    &>a {
        width: min-content;
    }
}

.right-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: min-content;
}

.version-label {
    margin: 16px;
    padding: 8px 16px;
    font-size: small;
    opacity: 0.4;
    color: whitesmoke;
}

.version-label:hover {
    animation: opacityFadeIn 0.5s forwards;
    cursor: default;
}

@keyframes opacityFadeIn {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}